# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
*.pyc
*.pyo

# Distribution / packaging
.Python
.idea
# pyenv
.python-version


# Environments
.env
.venv
env/
venv/
ENV/
